<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Posts.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>PostsAPIEndToEndTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6C1C4DAD22B4000700B63203</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6C93137D22B039FC00387108</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6C93139422B039FD00387108</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6C93139F22B039FD00387108</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
